#filterBar {
  width: 80%;
  padding-inline: 1rem;
  margin-top: -1rem;
  margin-left: auto;
  position: relative;
}

#filterBar .filter-items {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 2.5rem 0;
  gap: 1rem;
  margin: 0 auto;
  min-width: 100%;
  /* overflow: hidden; */
  overflow-x: scroll;
}
#filterBar .filter-items::-moz-scrollbar {
  background-color: red;
  visibility: hidden;
}
.filter-items::-webkit-scrollbar {
  background-color: transparent;
  visibility: hidden;
}

.filter-items h3 {
  background-color: rgba(92, 92, 92, 0.933);
  /* transform: translateX(-100%); */
  border-radius: 0.5rem;
  min-width: 300px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}

.arrow {
  display: flex;
  left: -2rem;
  top: 2.5rem;
  align-items: center;
  position: absolute;
}
.arrow-left {
  display: flex;
  right: -2rem;
  top: 2.5rem;
  align-items: center;
  position: absolute;
  z-index: 1;
}

@media (max-width: 768px) {
  #filterBar {
    display: none;
  }
}
