header {
  width: 100%;
  height: 80px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.7rem;
}

.logo {
  display: flex;
  margin-left: -0.2rem;
  gap: 0.2em;
  flex-grow: 1;
}

.logo h1 {
  display: flex;
  align-items: center;
}

.logo h1 span {
  font-weight: 300;
  font-size: 10px;
}

.search {
  display: none;
  position: relative;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-items li:nth-child(2) {
  display: none;
}

.voice-search {
  display: none;
}

@media screen and (min-width: 55rem) {
  .nav-items li:nth-child(2) {
    display: flex;
  }

  .search {
    display: flex;
    width: 100%;
    min-width: 350px;
    position: relative;
  }

  .search input {
    flex-grow: 1;
    padding: 1.2rem;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
    border-radius: 1.5rem;
    border: 1px solid rgb(49, 49, 49);
  }

  .s-btn {
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
  }
  .sb-btn {
    display: none;
  }

  .logo {
    flex-grow: unset;
    margin-left: -2rem;
  }

  header {
    /* background-color: red; */
    gap: 3.5rem;
    width: 100%;
    font-size: 0.8rem;
  }
  .nav-items {
    margin-left: auto;
  }
  .voice-search {
    display: flex;
  }
}
