#slide__out-menu {
  position: absolute;
  top: 0;
  left: -200px;
  font-size: 0.5rem;
  width: 200px;
  height: 100%;
  padding: 1rem;
  transition: all 0.2s ease-out;
  background-color: rgb(51, 51, 51);
}

.logo__menu-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.side-bar-logo {
  display: flex;
  gap: 0.2rem;
}

.side-bar-logo h1 span {
  font-weight: 300;
}

.menu {
  width: 100%;
}

.first {
  margin-bottom: 1rem;
}
.second {
  margin-top: 1rem;
}

.slide-out {
  left: 0 !important;
}

hr {
  height: 1px;
  border: none;
  background-color: rgb(70, 70, 70);
}

.menu__list-items-1,
.menu__list-items-2 {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
}

FontAwesomeIcon {
  margin-right: 13rem;
}
